.elements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 2%;
  justify-content: space-between;
  gap: 3%;
  margin: auto;
  max-width: 882px;
}
.element {
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: hidden;
  background-color: white;
  border: none;
  border-radius: 10px;
  width: 282px;
  height: 350px;
  position: relative;
}
.element__img {
  width: 282px;
  height: 284.56px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  cursor: pointer;
}
.element__info {
  display: flex;
  align-items: center;
  padding: 16px;
}
.element__title {
  font-family: Inter;
  font-size: 24px;
  font-weight: bold;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 0 0 0;
}
.element__photo-trash {
  width: 18px;
  height: 19.3px;
  background-image: url("../images/img__delete.png");
  border: none;
  position: absolute;
  padding: 0;
  cursor: pointer;
  top: 10px;
  right: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent; /* Asegura que el fondo sea transparente */
}
.element__favorite {
  width: 20px;
  height: 19px;
  cursor: pointer;
  position: absolute;
  background-size: contain;
  bottom: 28px;
  right: 15px;
  background-image: url(../images/img__favorite.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  background-color: transparent;
}
.element__favorite-active {
  background-image: url(../images/img__favorite-active.png);
}
@media screen and (max-width: 768px) {
  .elements {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 10%;
  }
}
@media screen and (max-width: 320px) {
  .elements {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 1%;
    margin-bottom: 30%;
  }
}
