.header {
  display: flex;
  flex-direction: column;
  max-width: 882px;
  margin: auto;
}
.header__image {
  max-width: 173px;
}
.header__linea {
  border: none;
  border: 1px solid #545454;
  margin: 10px 0;
}
